<h1>Welcome to Eficio</h1>
<h3>Cars currently in database </h3> <br>

<div class="row">
  <div class="span6 offset3">
    <% Car.all.each do |car| %>
      <b><%= car.name %></b> <%= link_to "Edit", edit_car_path(car) %>
      <p><b>Price:</b> <%= car.price %> <br>
          <b>MPG:</b> <%= car.mpg %> <br>
          <b>Handling:</b> <%= car.handling %> <br>
          <b>Interior:</b> <%= car.interior %> <br>
          <b>Looks</b> <%= car.looks%> <br>
          <b>Legroom:</b> <%= car.legroom %> <br>
      <img src="<%= car.image %>" alt="" /> <br> <br>
  <% end %>
  </div>
</div>