<!doctype html>
 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>jQuery UI Slider - Snap to increments</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
    $(function() {
        $( "#slider" ).slider({
            value:5,
            min: 0,
            max: 10,
            step: 1,
            slide: function( event, ui ) {
                $( "#amount" ).val( ui.value );
            }
        });
        $( "#amount" ).val( $( "#slider" ).slider( "value" ) );
    });
    </script>
</head>
<body>
 
<p>
    <label for="amount">Donation amount ($50 increments):</label>
    <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>
 
<div id="slider"></div>
 
 
</body>
</html>


<!-- <%= f.radio_button :handling, 1 %> 1
      <%= f.radio_button :handling, 2 %> 2
      <%= f.radio_button :handling, 3 %> 3
      <%= f.radio_button :handling, 4 %> 4
      <%= f.radio_button :handling, 5 %> 5 -->

      <!-- <%= f.label :handling %>
      <%= f.text_field :handling, :placeholder => "Scale of 1 to 10" %> -->




      
      <!-- <%= f.label "Maximum Price" %>
      <%= f.text_field :price %>

      <%= f.label "Combined MPG" %>
      <%= f.text_field :mpg %> -->

      <!-- <label for="car_legroom">Legroom</label>
      <input id="car_legroom" name="car[legroom]" style="border: 0; color: #f6931f; font-weight: bold;" />
      <div id="slider"></div> -->


      <!-- <%= f.label :interior %>
      <%= f.text_field :interior, :placeholder => "Scale of 1 to 10" %>

      <%= f.label :looks %>
      <%= f.text_field :looks, :placeholder => "Scale of 1 to 10" %>

      <%= f.label :legroom %>
      <%= f.text_field :legroom, :placeholder => "inches" %> -->

      
    #Car.where("price <= ? AND mpg >= ? AND handling >= ? AND interior >= ? AND looks >= ? AND legroom >= ?", 
            #car[:price], car[:mpg], car[:handling], car[:interior], car[:looks], car[:legroom])