<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <b><%= @car.name %></b> <%= link_to "Edit", edit_car_path(@car) %> 
      </h1>
      <body>
      	<p><b>Price:</b> <%= @car.price %> <br>
      		<b>MPG:</b> <%= @car.mpg %> <br>
      		<b>Handling:</b> <%= @car.handling %> <br>
      		<b>Interior:</b> <%= @car.interior %> <br>
      		<b>Looks</b> <%= @car.looks%> <br>
      		<b>Legroom:</b> <%= @car.legroom %> <br>
      		<b>Image:</b> <img src="<%= @car.image %>" alt="" />
          <p style= "font-size: 10px;">Image courtesy of edmunds.com</p>
      	</p>
      </body>
    </section>
  </aside>
</div>