<head>  
  <script type="text/javascript">
    $(document).ready(function() {
      $( "#tarbaz<%= @car.id %>" ).click(function() {
            $( '#foobar<%= @car.id %>' ).remove();
      });
    });
  </script>
  
</head>


  <div class="compareinfo" id="foobar<%= @car.id %>" style="float: left; padding-left: 15px;">
      <p style= "text-align: left; font-size: 1.3em;">
        <a href="<%= car_path(@car) %>" target="researchinfo" class="canada"><%= @car.name %></a>
        <a href="#" class="delpartial" id="tarbaz<%= @car.id %>" style="font-weight: bold; color: rgb(77, 75, 75);">x</a>  
      </p>
      <body style= "color: white; background-color: #ff9618;">
        <p><b>Price:</b> <%= @car.price %> <br>
          <b>MPG:</b> <%= @car.mpg %> <br>
          <b>Handling:</b> <%= @car.handling %> <br>
          <b>Interior:</b> <%= @car.interior %> <br>
          <b>Looks</b> <%= @car.looks%> <br>
          <b>Legroom:</b> <%= @car.legroom %> <br>
          <%= link_to 'Rkjkjk', car_path(@car), :target => "researchinfo", :id => 'starwars' %>
      </body>
      <script type="text/javascript">
        $(document).ready(function() {
          $('.canada').click(function() {
            $('#starwars').trigger("click");
          });
          $(function(){
            $('#starwars').click(function(){
              $('html, body').animate({ scrollTop: $('#researchiframe').offset().top }, 3000);
              return false;
            });
          });
        });
      </script>
  </div>
