<% @cars.each do |car| %>
  <%= link_to car_path(car), :remote => true do %>
    <div id="resultscarbox">
        <kobe style= "font-weight: bold;"><%= car.name %></kobe>  <br> 
	      <%= image_tag(car.image) %>
	   <p>
		    <b>Price:</b> <%= car.price %> <br>
        <b>MPG:</b> <%= car.mpg %> <br>
        <b>Handling:</b> <%= car.handling %> <br>
     </p>
    </div>
  <% end %>
<% end %>


